<h1>Step 1: Choose your Model and color</h1>
<form [formGroup]="modelForm">
    <div class="inline-block">
      <div class="form-group">
        <label for="modelSelect">Model:</label>
        <select id="modelSelect" formControlName="modelType" (change)="onTypeChanges()" >
            <option value="">Choose.....</option>
            <option *ngFor="let model of modelsList" [value]="model.code">{{model.description}}</option>
        </select>
    </div>
    <div class="form-group" *ngIf=" selectedModelData && selectedModelData.colors.length>0">
        <label for="colorSelect" >Color:</label>
        <select id="colorSelect" formControlName="modelColor" (change)="onColorChanges()">
            <option value="" disabled selected="selected">--Select Color--</option>
            <option *ngFor="let color of selectedModelData.colors" [value]="color?.code"  >{{color?.description}}</option>
        </select>
    </div>
    </div>
    <div *ngIf="selectedImg && selectedModelData">
        <img [src]="selectedImg" [alt]="selectedModelData.description +' '+  modelForm.value.modelColor" width="800" height="450">
    </div>
</form>
